* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    font-family: $josefin-sans;
}
.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}
ul{
    list-style-type: none;
}
a {
    text-decoration: none;
}

//visibility
.hide-for-mobile {
    @include breakpoint-down(medium){
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}