$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$darkGrey: hsl(0, 0%, 55%);
$veryDarkGrey: hsl(0, 0%, 41%);

//fonts

$josefin-sans: 'Josefin Sans', sans-serif;
$alata: 'Alata', sans-serif;



